<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign up to avail best offers</h2>
    <form method="post" action="/signup" method="POST">
        <label for="username">USERNAME</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" required><br>
        <input type="submit" value="SignUp">
    </form>
</body>
</html>